:root {
  --foreground-color: #222;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #eee;
    --background-color: #000;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;

  width: min(1440px, 100%);
  height: 3rem;
  margin: auto;
  user-select: none;
  background-color: var(--background-color);
}

header a img {
  height: 3rem;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .menu-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 3rem;
}

header nav .menu-toggle-button label {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
  line-height: 1rem;
  font-size: 2rem;
  /* transform: scale(2); */
}

header nav .menu-toggle-button .close,
header nav #menu-toggle-check,
header nav #menu-toggle-check:checked ~ .menu-toggle-button .open {
  display: none;
}

header nav .menu-toggle-button .open,
header nav #menu-toggle-check:checked ~ .menu-toggle-button .close {
  display: block;
}

header nav #menu-toggle-check:checked ~ ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header nav ul {
  display: none;

  position: fixed;
  left: 0;
  top: 3rem;

  width: 100%;
  height: calc(100% - 3rem);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: var(--background-color);
}

header nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--foreground-color);
  border-bottom: 2px solid transparent;
  transition: all 100ms;
}

header nav ul li a.active {
  background-color: rgb(112 112 112 / 0.3);
  border-radius: 0.3rem;
}

header nav ul li a:not(.active) {
  cursor: pointer;
  opacity: 0.8;
}

nav ul li a:not(.active):hover {
  opacity: 1;
  border-bottom-color: var(--foreground-color);
}

main {
  width: min(1440px, 100%);
  margin: 0 auto;
}

main article {
  padding: 1rem 2rem;
}

main article blockquote {
  padding: 1rem;
  text-align: center;
  background-color: rgb(112 112 112 / 0.3);
  border-radius: 0.3rem;
}

main article p {
  text-indent: 3rem;
  text-align: justify;
}

footer {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: rgb(48 112 112 / 0.5);
}

@media all and (min-width: 425px) {
  main article {
    padding: 1rem 3rem;
  }
}

@media all and (min-width: 768px) {
  header nav .menu-toggle-button {
    display: none;
  }

  header nav #menu-toggle-check:checked ~ ul,
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;

    position: static;
    padding: 0 1rem;
  }

  main article {
    padding: 1rem 4rem;
  }
}
